### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [354]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(file_to_load)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [355]:
player_count = 1163
mp_count = round(player_count * 0.84)
fp_count = round(player_count - mp_count)
print(f'Player Count: {player_count}')

Player Count: 1163

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [356]:
purchase_count = df['Purchase ID'].count()
items = df['Item ID'].value_counts().count()
total_rev = df['Price'].sum()
avg_pp = total_rev / purchase_count

avg_pp = '${:,.2f}'.format(avg_pp)
total_rev = '${:,.2f}'.format(total_rev)

purchase_analysis = pd.DataFrame({"Total Number of Purchases": purchase_count, "Number of Items Sold": items,
                                  "Total Revenue": total_rev, "Average Purchase Price": avg_pp}, index=['Summary'])
purchase_analysis

,Total Number of Purchases,Number of Items Sold,Total Revenue,Average Purchase Price
Summary,780,183,"$2,379.77",$3.05

## Gender Demographics

* Percentage and Count of Male Players

* Percentage and Count of Female Players

* Percentage and Count of Other / Non-Disclosed

In [357]:
percent_male = len([x for x in df['Gender'] if x == 'Male']) / purchase_count
percent_female = len([x for x in df['Gender'] if x == 'Female']) / purchase_count
percent_other = len([x for x in df['Gender'] if x != 'Male' and x != 'Female']) / purchase_count

percent_male, percent_female, percent_other

(0.8358974358974359, 0.14487179487179488, 0.019230769230769232)

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [358]:
mdata = df.loc[df['Gender'] == 'Male']
fdata = df.loc[df['Gender'] == 'Female']
odata = df.loc[df['Gender'] == 'Other / Non-Disclosed']

mpsum = mdata.Price.sum()
mpcount = mdata['Purchase ID'].value_counts().count()
avg_mp = mpsum / mdata['Purchase ID'].count()

fpsum = fdata.Price.sum()
fpcount = fdata['Item ID'].value_counts().count()
avg_fp = fpsum / fdata['Purchase ID'].count()

opsum = odata.Price.sum()
opcount = odata['Item ID'].value_counts().count()
avg_op = opsum / odata['Purchase ID'].count()

avg_mp = '${:,.2f}'.format(avg_mp)
avg_fp = '${:,.2f}'.format(avg_fp)
avg_op = '${:,.2f}'.format(avg_op)

mpsum = '${:,.2f}'.format(mpsum)
fpsum = '${:,.2f}'.format(fpsum)
opsum = '${:,.2f}'.format(opsum)

gender_analysis = pd.DataFrame({"Total Purchase Price": [mpsum, fpsum, opsum], "Number of Items Sold": [mpcount, fpcount, opcount],
                                "Average Purchase Price": [avg_mp, avg_fp, avg_op]}, index=['Male', 'Female', 'Other'])
gender_analysis

       Total Purchase Price  Number of Items Sold Average Purchase Price
Male              $1,967.64                   652                  $3.02
Female              $361.94                    90                  $3.20
Other                $50.19                    13                  $3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [359]:
bins = [10, 14, 19, 24, 29, 34, 39, 10000]
group_names = ['10-14','15-19','20-24','25-29','30-34','35-39','40+']
pct = ['{:,.2f}%'.format(x) for x in ((age_sf.value_counts() / purchase_count)*100)]
age_sf = pd.cut(df["Age"], bins, labels=group_names)
age_df = pd.DataFrame({'Total Count':age_sf.value_counts(), 'Percent of Players': pct}).sort_index()
age_df

       Total Count Percent of Players
10-14           19              2.44%
15-19          136             17.44%
20-24          365             46.79%
25-29          101             12.95%
30-34           73              9.36%
35-39           41              5.26%
40+             13              1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [425]:
bins = [10, 14, 19, 24, 29, 34, 39, 10000]
group_names = ['10-14','15-19','20-24','25-29','30-34','35-39','40+']
age_sf = pd.cut(df['Age'], bins, labels=group_names)

df['Age Grp'] = age_sf

age_analysis = df.groupby('Age Grp')

tpv = age_analysis['Price'].sum()
apv = tpv / age_sf.value_counts()

tpv = ['${:,.2f}'.format(x) for x in tpv]
apv = ['${:,.2f}'.format(x) for x in apv]

age_analysis_df = pd.DataFrame({'Purchase Count':age_sf.value_counts(), 'Average Purchase Price': apv,
                       'Total Purchase Value': tpv}).sort_index()
age_analysis_df

       Purchase Count Average Purchase Price Total Purchase Value
10-14              19                  $3.60              $147.67
15-19             136                  $3.04              $412.89
20-24             365                  $2.68               $50.95
25-29             101                  $3.05            $1,114.06
30-34              73                  $2.90              $293.00
35-39              41                  $2.93              $214.00
40+                13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [471]:
# top_spenders = df['SN'].value_counts().head()
# sn = top_spenders.keys()
# top_purchase_count = top_spenders.values
# top_app = df['Price'].sum()
# [x for x in df.loc[top_spenders == df[x]]]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80